input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.root {
  margin: 40px auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1080px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: #f0f0ff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  gap: 30px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  flex: 1;
  min-width: 180px;
}

.buff {
  margin-top: 30px;
  gap: 20px;
}

.buffs {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.body {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cards {
  flex: 2;
  min-width: 340px;
  max-height: 100%;
  padding: 20px;
  background-color: #ebf6f0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.titles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  flex: 1;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.right {
  flex: 1;
  min-width: 200px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  width: 100%;
  height: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fffbf2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.mock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results {
  width: 100%;
  height: 166px;
  padding: 20px;
  background-color: #fff0f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result {
  display: flex;
  gap: 10px;
}

.exec {
  display: flex;
  justify-content: flex-end;
}

.mockResult {
  width: 100%;
  margin-top: 20px;
  min-height: 360px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f1faff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.resultTable {
  display: flex;
  flex-direction: column;
}

.resultTableRow {
  padding: 5px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: 10px;
}
.resultTableRow > :last-child {
  justify-self: end;
}

.resultTableRow2 {
  padding: 5px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 10px;
}
.resultTableRow2 > :last-child {
  justify-self: end;
}

.chartOptions {
  max-width: 380px;
  width: 100%;
  margin-top: 20px;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.chartContainer {
  width: 100%;
  margin-top: 10px;
  min-height: 360px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: auto;
}

.chart {
  width: 100%;
  height: 100%;
}
